h1{
    color: deeppink;
}

h2{
    color: deeppink;
    font-family: cursive;
}

#caja{
    background-color: cadetblue;
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box; /* se utiliza con el padding*/
    margin-left: 30px;
    border: 5px solid rgb(186, 137, 190);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(175,98,154,1) 35%, rgba(0,212,255,1) 100%);
}

.destacados{
    font-size: 25px;
    color: deeppink;
}