.contenedor {
	border: 2px solid black;
	width: 450px;
	height: 450px;
    margin: 0 auto;
    display: grid;
    /*align-items:end;
    flex-direction: column;*/
}
.caja {
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
    align-items: center;
	/*se desplaza a mano derecha*/
	justify-self: end; 
    
}
/*Permite la division de las cajas*/
div{
    grid-template-rows: repeat(3,1fr);
	
}

.item1 {
	background: red;
	color: white;
}
.item2 {
	background: blue;
	color: white;
}
.item3 {
	background:green;
	color: white;
}
